@font-face {
	font-family: 'League Gothic';
	src: url('League-Gothic.otf');
}

html {
	min-height: 100%;
	background: url(img/whitediamond.png) center top;
}
body {
	overflow: hidden;
	min-height: 100%;
	margin: 0 auto;
	background: url(img/whitediamond.png) center top;
}

.ribbon {
	display: inline-block;
	height: 53px;
	background: #000;
	-webkit-mask-box-image: url('img/ribbon-mask-bg.png') 0 41 0 40 stretch;
}
.ribbon:hover {
	text-decoration: none;
}
	.ribbon span {
		display: block;
		height: 100%;
		padding: 0 50px;
		background: #ff5b26;
		color: #fff;
		font-family: 'League Gothic';
		font-size: 32px;
		line-height: 44px;
		text-align: center;
		text-shadow: none;
		text-transform: uppercase;
		-webkit-font-smoothing: antialiased;
		-webkit-mask-box-image: url('img/ribbon-mask-fg.png') 0 41 0 40 stretch;
	}

	.newgame.ribbon span {
		background: #0a7dbf;
	}
	.newgame.ribbon:hover span {
		background: #f00;
	}

#startscreen {
	position: absolute;
	top: 150px;
	left: 0;
	width: 100%;
	text-align: center;
	-webkit-transition: opacity .4s;
}
#startscreen.hidden {
	opacity: 0;
}

h1 {
	width: 336px;
	height: 167px;
	margin: 0 auto 100px;
	background: url(img/logo.png);
	text-indent: -999em;
}


.margin {
	position: relative;
	width: 820px;
	margin: 0 auto;
}

header {
	position: relative;
	top: 65px;
	height: 100px;
	-webkit-transition: top .3s;
}
header.hidden {
	top: -100px;
}

#roundtimer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 146px;
	height: 146px;
	margin: -38px 0 0 -73px;
	background: url(img/bg-timer.png);
	-webkit-transform: scale(.5);
}
	#roundtimer svg {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0 0 -50px;
	}


#timer, #points {
	font-family: 'League Gothic';
}

#body {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin: -150px 0 0;
}

.choices {
	display: -webkit-box;
	-webkit-transition: opacity .4s;
}
.choices.inactive {
	opacity: 0;
}
	.choices li {
		width: 190px;
		margin-left: 20px;
		-webkit-transition: opacity .4s;
	}
	.choices li:first-child {
		margin-left: 0;
	}
	.choices li.inactive {
		opacity: .6;
	}
	.choices .sp-image {
		width: 190px;
		height: 190px;
		background-size: cover;
	}
	.choices .artwork {
		width: 190px;
		height: 190px;
	}


@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to   { -webkit-transform: rotate(360deg); }
}

