@font-face {
	font-family: 'League Gothic';
	src: url('League-Gothic.otf');
}

@-webkit-keyframes shake {
	0% { -webkit-transform: rotate(5deg) scale(.6); }
	5% { -webkit-transform: rotate(2deg) scale(.6); }
	10% { -webkit-transform: rotate(7deg) scale(.6); }
	15% { -webkit-transform: rotate(-3deg) scale(.6); }
	20% { -webkit-transform: rotate(2deg) scale(.6); }
	25% { -webkit-transform: rotate(-3deg) scale(.6); }
	30% { -webkit-transform: rotate(5deg) scale(.6); }
	35% { -webkit-transform: rotate(-4deg) scale(.6); }
	40% { -webkit-transform: rotate(2deg) scale(.6); }
	45% { -webkit-transform: rotate(6deg) scale(.6); }
	50% { -webkit-transform: rotate(-4deg) scale(.6); }
	55% { -webkit-transform: rotate(1deg) scale(.6); }
	60% { -webkit-transform: rotate(-7deg) scale(.6); }
	65% { -webkit-transform: rotate(5deg) scale(.6); }
	70% { -webkit-transform: rotate(-5deg) scale(.6); }
	75% { -webkit-transform: rotate(4deg) scale(.6); }
	80% { -webkit-transform: rotate(-3deg) scale(.6); }
	85% { -webkit-transform: rotate(6deg) scale(.6); }
	90% { -webkit-transform: rotate(-7deg) scale(.6); }
	95% { -webkit-transform: rotate(0deg) scale(.6); }
	100% { -webkit-transform: rotate(3deg) scale(.6); }
}

html {
	min-height: 100%;
	background: url(img/whitediamond.png) center top;
}
body {
	overflow: hidden;
	min-height: 100%;
	margin: 0 auto;
	background: url(img/whitediamond.png) center top;
}

.ribbon {
	display: inline-block;
	height: 53px;
	background: #000;
	-webkit-mask-box-image: url('img/ribbon-mask-bg.png') 0 40 0 40 stretch;
}
.ribbon:hover {
	text-decoration: none;
}
	.ribbon .foreground {
		display: block;
		height: 100%;
		padding: 0 50px;
		background: #ff5b26;
		color: #fff;
		font-family: 'League Gothic';
		font-size: 32px;
		line-height: 44px;
		text-align: center;
		text-shadow: none;
		text-transform: uppercase;
		-webkit-font-smoothing: antialiased;
		-webkit-mask-box-image: url('img/ribbon-mask-fg.png') 0 40 0 40 stretch;
	}

	.newgame.ribbon .foreground {
		background: #0a7dbf;
	}
	.newgame.ribbon:hover .foreground {
		background: #0f8ad0;
	}

.shaking {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 500ms;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#startscreen {
	position: absolute;
	top: 150px;
	left: 0;
	width: 100%;
	text-align: center;
	-webkit-transition: opacity .4s;
}
#startscreen.hidden {
	opacity: 0;
	pointer-events: none;
}

h1 {
	width: 336px;
	height: 167px;
	margin: 0 auto 100px;
	background: url(img/logo.png);
	text-indent: -999em;
}


.margin {
	position: relative;
	width: 820px;
	margin: 0 auto;
}

header {
	position: relative;
	top: 65px;
	height: 100px;
	-webkit-transition: top .3s;
}
header.hidden {
	top: -100px;
}

#timer {
	position: absolute;
	top: 28px;
	left: 0;
	width: 175px;
	text-align: right;
}
	#timer .time {
		color: #212121;
		font-size: 36px;
	}

#roundtimer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 146px;
	height: 146px;
	margin: -38px 0 0 -73px;
	background: url(img/bg-timer.png);
	-webkit-transform: scale(.5);
}
	#roundtimer svg {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0 0 -50px;
	}

#score {
	position: absolute;
	top: 28px;
	right: 0;
	width: 175px;
	color: rgba(33, 33, 33, .5);
	font-size: 16px;
	text-transform: uppercase;
}
	#score .count {
		color: #212121;
		font-size: 36px;
	}

#multiplier {
	position: absolute;
	top: 51px;
	left: 50%;
	display: block;
	width: 250px;
	margin: 0 0 0 -125px;
	-webkit-transform: scale(.6);
	-webkit-transition: opacity .2s;
}
#multiplier.hidden {
	opacity: 0;
}
	#multiplier .count {
		display: inline;
		width: auto;
	}

#timer, #score {
	font-family: 'League Gothic';
}

#body {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin: -150px 0 0;
}

.choices {
	display: -webkit-box;
	-webkit-transition: opacity .4s;
}
.choices.inactive {
	opacity: 0;
}
	.choices li {
		width: 190px;
		margin-left: 20px;
		font-weight: bold;
		text-align: center;
		white-space: nowrap;
		-webkit-transition: opacity .4s;
	}
	.choices li:first-child {
		margin-left: 0;
	}
	.choices .sp-image {
		width: 190px;
		height: 190px;
		margin: 0 0 24px;
		background-position: center;
		background-size: cover;
	}
	.choices .track {
		overflow: hidden;
		color: #000;
		font-size: 13px;
		text-overflow: ellipsis;
	}
	.choices .artist {
		color: #6d6d6d;
	}
	.choices .number {
		width: 38px;
		height: 38px;
		margin: 24px auto 0;
		border-radius: 23px;
		box-shadow: 0 0 0 5px rgba(255, 91, 38, .35);
		background: #ff5b26;
		color: #fff;
		font-family: 'League Gothic';
		font-size: 26px;
		font-smoothing: antialiased;
		line-height: 39px;
		text-shadow: none;
		-webkit-transition: opacity .4s;
	}
	.choices li.inactive {
		opacity: .6;
	}
		.choices li.inactive .number {
			opacity: 0;
		}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to   { -webkit-transform: rotate(360deg); }
}

